html{
  font-family: 'Shadows Into Light', cursive;
}
body{
  background: url(bg1.jpg)
}
h1 {
  font-size: 40px;
}
p{
  font-weight: 700;
  font-size: 20px;
  margin-left:5%;
  margin-right:5%;
}
table{
  background: url(bg2.jpg);
  margin-left:auto;
  margin-right:auto;
  border-collapse: collapse;
  border: 2px black solid;
  text-align:left;
  font-size:20px;
}
th{
  padding:10px;
  font-size:28px;
}
td,tr{
  padding:10px;
  font-weight: 700;
}
span,legend{
  color:#D62300;
}
label{
  color:#0D5BA9;
}
form{
  margin-left: 15%;
  margin-right:15%;
}
input{
  margin-left: 20px;
}
h2{
  text-align:center;
  color: black;
  text-shadow: 0 0 5px #F8A201;
  font-size: 42px;
}